</body>
</html>

<script src="https://code.angularjs.org/1.4.6/angular.min.js"></script>
<script src="https://code.angularjs.org/1.4.6/angular-route.min.js"></script>
<script src="https://code.angularjs.org/1.4.6/angular-cookies.min.js"></script>
<script src="https://code.angularjs.org/1.4.6/angular-resource.min.js"></script>
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>

<script src="javascripts/app.js"></script>
<script src="javascripts/services.js"></script>
