<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= title %></title>

    <link rel="stylesheet" href="http://libs.useso.com/js/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body ng-app="nodeblog">

    <header>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <a class="navbar-brand" href="#/"><%= title %></a>

                <div class="navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav right">
                        <% if (!user) { %>
                            <li><a href="#/login">login</a></li>
                            <li><a href="#/reg">register</a></li>
                        <% } else { %>    
                            <li><a href="/logout">logout</a></li>
                            <li><a href="#/list">我的文章</a></li>
                            <li><a href="#/write">写文章</a></li>
                        <% }%>
                    </ul>
                    <form class="navbar-form navbar-right" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                    </form>
      
                </div>
            </div>
        </nav>

    </header>

    

