
header, footer, nav { display: block }

* { padding: 0; margin: 0; }

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.left { float: left; }
.right { float: right; }

.navbar-brand { font-size: 1.8em; }

.login-page { width: 60%; }