<ul class="list-group" ng-repeat="x in items | filter:articleList ">
    <a ng-if="$odd" href="#/article/{{ x._id }}" class="list-group-item">
        <li class="list-group-item list-group-item-success">
            <span class="badge">{{ x.time }}</span>
            {{ x.title }}
        </li>
    </a>

    <a ng-if="$even" href="#/article/{{ x._id }}" class="list-group-item">
        <li class="list-group-item list-group-item-info">
            <span class="badge">{{ x.time }}</span>
            {{ x.title }}
        </li>
    </a>

    
</ul>